[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2"
psycopg2-binary = "*"
django-extensions = "*"
django-redis = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-standardized-errors = "*"
celery = "*"
flower = "*"
pillow = "*"
drf-spectacular = "*"
django-filter = "*"
python-decouple = "*"
pytest = "7.4"
pytest-django = "*"
model-bakery = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
