[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-extensions = "*"
gunicorn = "*"
django-redis = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-standardized-errors = "*"
celery = "*"
flower = "*"
pillow = "*"
drf-spectacular = "*"

[dev-packages]
django-debug-toolbar = "*"
black = "*"
darker = "*"
model-bakery = "*"
pylint-django = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
